/* styles.css */
* {
    font-family: "Poppins";
}

body {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
}

/* Center the outcome message div */
#outcome-message {
    text-align: center;
}

/* Center the player name and game state div */
#player-number, #game-state {
    text-align: center;
}

/* Apply basic styling to buttons */
button {
    cursor: pointer;
    font-weight: bold;
    margin: 5px;
    width: 100px; /* Set a fixed width for all buttons */
    height: 40px; /* Set a fixed height for all buttons */
    border-radius: 50px;
    font-size: 15px;
    border: 1px solid #333;
}

/* Style buttons for rock */
.rock, .paper, .scissor {
    background-color: #ff5733;
    color: #eee;
    padding: 5px; /* Add padding for the inner text */
    box-sizing: border-box; /* Include padding in the button's width and height */
    box-shadow: 5px 5px 10px #555;
}

/* Style buttons for paper */
.paper {
    background-color: #33aaff;
}

/* Style buttons for scissor */
.scissor {
    background-color: #33cc33;
}

/* Center button groups and stack them */
.button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 25px;
}

/* Adjust spacing between button groups */
.left {
    margin-right: 0;
}

.right {
    margin-left: 0;
}

/* Add an outline when the button is focused */
button:focus {
    transition: .3s ease-in-out;
    scale: 1.1;
    color: #000;
    border: 1px solid #990; /* Change the outline color and width as desired */
}
